* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #c3ccf1;
    color: #b4b4b4;
    text-shadow: 0 3px 6px #0000001f;
    animation: fade-in .5s cubic-bezier(0.455, 0.03, 0.515, 0.955)0ms;
}

main {
    overflow: hidden;
}